# COGS 108 - Data Checkpoint

# Names

- Mingyi Li, Weiwen Dong (Part I)
- Yutian Shi, Jinyu Li (Part II)

<a id='research_question'></a>
# Research Question

Do Twitter users‚Äô four different Myers‚ÄìBriggs MBTI personality types (Analysts: NT, Diplomats: NF, Sentinels: SJ, Explorers: SP) influence their social media activeness and engagement? 

Within each aspect of the four dimensions (Mind: E/I, Energy: N/S, Nature: F/T, Tactics: J/P), are people with certain personality traits being more active and engaged than others, such as Extroverts versus Introverts within the Mind aspect?

# Background and Prior Work (Request for Regrade)

### The Development/History of MBTI and The Meaning of Each Four Personality Aspect

MBTI is a personality test that uses personality type-based model, which assesses one‚Äôs personality traits and classifies them into different categories. According to the official MBTI website, the model is developed based on Carl Gustav Jung, Katharine Cook Briggs, and Isabel Briggs Myers‚Äôs theory in analytical psychology and personality typology. They believe that people are classified by mind into two sub-categories called introverted and extroverted, and based on people‚Äôs different cognitive functions, they can also be separated by Tactics into two sub-categories called judging or perceiving. These are the first two categories that these researchers established. Later, they find another two categories, nature, which contains thinking vs. feeling, and energy, which contains observant vs intuitive[^16Personalities]. A letter is used to represent each type of personality in each category.

‚ÄúE‚Äù stands for extraverted individuals who are more energetic and prefer social interactions, whereas ‚ÄúI‚Äù stands for introverted individuals who acquire energy from solitary activities and focus more on their inner thoughts[^Woods&Hill]. ‚ÄúS‚Äù stands for observant individuals who are practical and focus on facts, whereas ‚ÄúN‚Äù stands for intuitive individuals who are more imaginative and will trace future possibilities using intuition before facts[^Woods&Hill]. ‚ÄúT‚Äù stands for thinking individuals who focus on logic and rationality over emotion, whereas ‚ÄúF‚Äù represents feeling individuals who focus on their emotion and are more empathetic[^Woods&Hill]. For the last category, ‚ÄúJ‚Äù represents judging individuals who prefer an organized and settled lifestyle, whereas ‚ÄúP‚Äù refers to individuals who are more flexible and open to all opportunities[^Woods&Hill].

### Differences Between MBTI and Other Personality Frameworks

Compared to other personality frameworks that use trait-based models, MBTI uses a type-based model such that it can offer more comprehensive information of one‚Äôs personality, specifically how they perceive the world and make decisions. For example, the Big Five, a trait-based personality model called, only offers quantitative measurements (percentage in each dimension ‚Äì Openness, Consciousness, Extroversion, Agreeableness, Neuroticism). The problem with this personality test is that it does not have specific guidelines to tell its users about how to interpret the percentage, especially in cases in which the percentage falls to 50%. For example, if a person received a result that they are 50% extrovert and 50% introvert, the testing result might be less useful without an interpretation of the result [^16Personalities]. In contrast, MBTI analyzes ones‚Äô personality type with information gathered in all four dimensions, and within each dimension, they do a two-end analysis. Therefore, it offers not only quantitative information, but also qualitative descriptions of personality types that describe how one would prefer to interact with other people, learn information, and make decisions [^16Personalities]. 

In addition, compared to other personality models such as Big Five, MBTI is simpler to understand, and thus popular on social media [^Poddar]. Since we are curious about understanding personality types on social media, where MBTI is widely available in users‚Äô profile, MBTI model would be an ideal choice for us to gain more data and make more convincing analyses. 

### Contexts and Previous Work

Social media platforms such as Twitter are the most popular places these days where people with different MBTI express their feelings in a more anonymous and open way. Theoretically, social media gives introverted people a place to express themselves and participate in online interaction more readily, as they don't need to have face-to-face social interactions with others. However, some research findings indicated that extroverted people are still more active and involved.

There is a Sweden research which reveals that people with different personalities in the Big Five Model of personality traits (another popular personality measurement like MBTI) will have different engagement in social media, in which extroverts are more active in usage than introverts[^Roos]. 

Similarly, in a literature review on ‚Äúthe impact of personality traits on social media use and engagement‚Äù, Georgios Lampropoulos, a core faculty at Michigan School of Psychology, and his colleague presented a comprehensive view of concepts in social media and Big Five Personality Traits, and synthesized the latest research findings on personality traits‚Äô impact on social media use [^Lampropoulos.et.al]. Conclusively, they found that compared to other personality traits, openness (a measure of curiosity, creativity, and originality) and extraversion (a measure of social activeness) best positively predict an individual‚Äô s social media use, especially in young adults [^Lampropoulos.et.al]. In another word, people who are more curious, creative, and socially active tend to engage more on social media. 

Given that Big Five Personality Traits are strongly related to MBTI personalities, Georgios‚Äô review is inspirational for us to study possible correlation between MBTI personality traits and social media engagement. Specifically, according to personalityjunkie, a website that provides transformative insights and expert analyses on personality types, the extraversion in both Big Five and MBTI (E in the Mind aspect) are closely related, and openness in Big Five is correlated with the Intuition (N) in the Nature aspect in MBTI [^Drenth]. Thus, we may infer that individuals with E and N in their MBTI personalities tend to engage more on social media, and build up hypotheses based on this inference.

Researchers from University of Cambridge also proposed a similar view point. They studied Twitter user‚Äôs personality through data from myPersonality, an online personality test that shares people‚Äôs personality score and Twitter profile information to researchers based on user consents [^Quercia.et.al]. Those researchers discovered that, among 335 users, most popular users are extroverts and less likely to fall into Neuroticism, meaning that they are more emotionally stable [^Quercia.et.al]. They are also more imaginative, which is similar to the ‚ÄúN‚Äù trait in MBTI [^Quercia.et.al]. Therefore, we can infer that their result also shows that popular people on social are more likely to have ‚ÄúN‚Äù and ‚ÄúE‚Äù traits.

In addition, Today‚Äôs Business, a digital marketing organization that aims to improve social media engagement, found through Facebook data that extroverts (E) are 1.5 times more likely to engage on social media compared to introverts (I). The research team even went further to conclude that ENFP and ISTJ have the most significant difference in social engagement [^Today‚ÄôsBusiness]. Thus, we may also further explore specific personality types (such as ENFP) to observe whether certain MBTI personality types are more active on social media.

Although much personality research has been conducted, limited work used the MBTI model, which explores four aspects of personality and measures like feeling versus thinking. Thus, we intend to investigate how one‚Äôs personality influences one‚Äôs social media engagement and activeness through the MBTI model‚Äôs four aspects. 


Citations:<br>
[^16Personalities]: 16 Personalities. (n.d.). Our framework. 16Personalities. Retrieved May 3, 2023, from https://www.16personalities.com/articles/our-theory <br>
[^Drenth]: Drenth, A.J. (n.d.). Big Five Openness, Myers-Briggs (MBTI) Intuition, & IQ Correlations. PersonalityJunkie. Retrieved May 3, 2023, from https://personalityjunkie.com/09/openness-myers-briggs-mbti-intuition-big-five-iq-correlations/#:~:text=The%20Big%20Five%20exhibits%20many%20similarities%20with%20the,with%20Perceiving%20and%20Extraversion%2C%20and%20mildly%20with%20Feeling <br>
[^Lampropoulos.et.al]: Lampropoulos, G., Anastasiadis, T., Siakas, K., & Siakas, E. (2022). The Impact of Personality Traits on Social Media Use and Engagement: An Overview. International Journal on Social & Education Sciences (IJonSES), 4(1). Retrieved May 3, 2023, from https://files.eric.ed.gov/fulltext/EJ1332326.pdf <br>
[^Poddar] Poddar, D. (2021). Let‚Äôs Look into Why the Myers-Briggs Type Indicator is Popular. The Tempest. Retrieved May 16, 2023, from https://thetempest.co/2021/06/23/now-beyond/myers-briggs-type-indicator-popular/#:~:text=This%20is%20reflected%20in%20how%20MBTI%20is%20widespread,type%20and%20even%20outfits%20associated%20with%20each%20type.
[^Quercia.et.al]: Quercia, D., Kosinski, M., Stillwell, D., Crowcroft, J (2011, October). ResearchGate. Our Selves: Predicting Personality with Twitter. https://www.researchgate.net/publication/220876237_Our_Twitter_Profiles_Our_Selves_Predicting_Personality_with_Twitter<br>
[^Roos]: Roos, J. M. (2023). The Intersection of Personality Traits and Social Media Usage: Large-Scale Representative Samples of Internet Users in Sweden. Psych, 5(1), 70‚Äì79. MDPI AG. Retrieved from http://dx.doi.org/10.3390/psych5010008 <br>
[^Today‚ÄôsBusiness]: Today‚Äôs Business. (2015). How Personality Theories Affect Social Media Engagement. Today‚Äôs Business. Retrieved May 3, 2023, from https://tbsmo.com/social-media/howpersonality-theories-affect-social-media-engagement/ <br>
[^Woods&Hill]: Woods, R. A., & Hill, P. B. (2022, September 18). National Center for Biotechnology Information. Myers Brigg. Retrieved May 3, 2023, from https://www.ncbi.nlm.nih.gov/books/NBK554596/ <br>

# Dataset(s)

1. 
- Dataset Name: user_info.csv
- Source of the dataset: https://www.kaggle.com/datasets/sanketrai/twitter-mbti-dataset?select=user_info.csv
- Number of observations: 8328

This dataset contains Twitter users' activities on the Twitter, such as the number of followers, followings, and retweets, etc. We use it to measure the activeness and engagement of users.

2. 
- Dataset Name: mbti_labels.csv
- Source of the dataset: https://www.kaggle.com/datasets/sanketrai/twitter-mbti-dataset?select=mbti_labels.csv
- Number of observations: 8328

This dataset matches the user id with its personality type. By merging with user_info.csv and user_tweets.csv (by id), we can map each user activities with the MBTI personality type.

3. 
- Dataset Name: twitter_MBTI.csv
- Source of the dataset: https://www.kaggle.com/datasets/mazlumi/mbti-personality-type-twitter-dataset
- Number of observations: 7811


4. 
- Dataset Name: user_tweets.csv
- Source of the dataset: https://www.kaggle.com/datasets/sanketrai/twitter-mbti-dataset?select=user_tweets.csv
- Number of observations: 24598

These two datasets contain Twitter users tweet content. We use them to do some exploratory studies and see what are some most representative and frequent emojis each personality type usually uses.

### Combine multiple datasets:
We will merge user_info.csv(`info_df`) with mbti_labels.csv(`label_df`) and user_tweets.csv(`user_df`) by matching on their `'id'`. We will also extract emoji from twitter_MBTI.csv(`text_df`) and user_tweets.csv (`user_df`), which contain some most recent user tweets. To obtain the personality type information, we will create a merged_df by combining mini_user_df (a subset of cleaned user_df) and mbti_labels.csv (user_mbti_df).

# Setup

In [1]:
# Uncomment to install the new package
#! pip install emoji
#! pip install gdown
#! pip install emoji --upgrade

In [2]:
# Remember to import our package to run the file
import pandas as pd
import emoji
import numpy as np
import gdown

In [3]:
# Make datasets have public access
DRIVE_URL = 'https://drive.google.com/uc?id='
USER_INFO_URL = 'https://drive.google.com/file/d/1_A6JiMIXGedcehE_uxP15DwBxVWvlPVR/view?usp=sharing'
MBTI_LABEL_URL = 'https://drive.google.com/file/d/1sbJXubnmHm6WEXL5pk7-XNInV9SLctrK/view?usp=sharing'
TWITTER_MBTI_URL = 'https://drive.google.com/file/d/1mIhlcu8P6YwMyuVJPrjLr33ZO54O1PSk/view?usp=sharing'
USER_TWEETS_URL = 'https://drive.google.com/file/d/1dbR_UdnXe-GjM3hj6ocFiMlx-ueJDqOJ/view?usp=sharing'

In [4]:
# Reformat URL from the Google Drive
def reformatURL(csv_url):
    return DRIVE_URL+ csv_url.split('/')[-2]

# Download large .csv files
def downloadLargeCSV(csv_url, filename):
    id = csv_url.split('/')[-2]
    url = DRIVE_URL+id
    output = filename+'.csv'
    gdown.download(url, output, quiet=False)
    return output

In [5]:
text_df = pd.read_csv(downloadLargeCSV(TWITTER_MBTI_URL, 'twitter_MBTI'))
user_df = pd.read_csv(downloadLargeCSV(USER_TWEETS_URL, 'user_tweets'))

Downloading...
From (uriginal): https://drive.google.com/uc?id=1mIhlcu8P6YwMyuVJPrjLr33ZO54O1PSk
From (redirected): https://drive.google.com/uc?id=1mIhlcu8P6YwMyuVJPrjLr33ZO54O1PSk&confirm=t&uuid=86d605aa-6eef-48ed-b890-fe1e6f5df2bb
To: /home/yus029/teams/randomname/twitter_MBTI.csv
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 77.6M/77.6M [00:01<00:00, 66.0MB/s]
Downloading...
From (uriginal): https://drive.google.com/uc?id=1dbR_UdnXe-GjM3hj6ocFiMlx-ueJDqOJ
From (redirected): https://drive.google.com/uc?id=1dbR_UdnXe-GjM3hj6ocFiMlx-ueJDqOJ&confirm=t&uuid=cbacca41-fc9c-41a5-816f-7f4d4276b66b
To: /home/yus029/teams/randomname/user_tweets.csv
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 165M/165M [00:03<00:00, 42.9MB/s]
/tmp/ipykernel_461/108084052.py:2: DtypeWarning: Columns (3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200) have mixed types. Specify dtype option on import or set low_memory=False.
  user_df = pd.read_csv(downloadLargeCSV(USER_TWEETS_URL, 'user_tweets'))

In [6]:
# Read all datasets into dataframes
info_df = pd.read_csv(reformatURL(USER_INFO_URL))
label_df = pd.read_csv(reformatURL(MBTI_LABEL_URL))

# Data Cleaning

## Part I: Data Cleaning for Twitter User Activities Datasets (Datasets #1, #2)

For Twitter users' activeness and engagment information analysis, we used user_info.csv(info_df) and mbti_labels.csv(label_df), measuring them in 2 dimensions: one by user's interaction with others and one by user's tweeting activities. To clean the data, we selected columns with values we need and dropped NaN values.

In [7]:
info_df.head()

,id,id_str,name,screen_name,location,description,verified,followers_count,friends_count,listed_count,...,total_mentions_count,total_media_count,number_of_tweets_scraped,average_tweet_length,average_retweet_count,average_favorite_count,average_hashtag_count,average_url_count,average_mentions_count,average_media_count
0,160881623,160881623,Biam üçÉ 32 Days AC üå¥üåπ,_AiBiam,Hateno Village,üê∏ {INFP}{ESP/ENG} ‚Ä¢ Current obsession: Unchart...,False,1904,782,67,...,139,114,200.0,11.785000,3003.580000,0.980000,0.250000,0.185000,0.695000,0.570000
1,28968838,28968838,pao,paoacflores,Mandaluyong/StaCruz Laguna PH,right brained lefty. infp. hufflepuff. collect...,False,14135,1338,47,...,156,34,200.0,16.150000,3718.745000,1.695000,0.410000,0.215000,0.780000,0.170000
2,2325006565,2325006565,penguüåª‚ù§Ô∏èüçì@ÈùíÈ≥•ÁéãÂõΩ,PenguPooh,PengUstine CCTV,üáπüáºüáØüáµüá∫üá∏ÔΩú‚ôãE/INFPÔΩúÂíå‚ÜîËã±ÔΩú20‚¨ÜÔΩúchaotic biÔΩúÈ´òÊµÆ‰∏äÔΩú181001ÔΩú‰Ωê...,False,1223,604,31,...,170,40,199.0,9.668342,3722.211055,0.824121,0.356784,0.195980,0.854271,0.201005
3,907848145,907848145,lynn bean,sukaihan,Singapore,"eng, ‰∏≠ | exo, x-exo and wayv üíï | 22 | scorpio ...",False,8512,312,147,...,174,77,192.0,14.718750,10028.718750,1.526042,0.401042,0.130208,0.906250,0.401042
4,1330237585,1330237585,Seiüí´,nemuiryuu,NaN,„ÄêINFP„ÄëHe/Him ‚úß CEO of gothic idols ‚òÖ Ëò≠Â≠êP,False,1805,340,69,...,127,99,200.0,7.655000,827.370000,2.190000,0.080000,0.055000,0.635000,0.495000

In [8]:
label_df.head()

           id mbti_personality
0   160881623             infp
1    28968838             infp
2  2325006565             infp
3   907848145             infp
4  1330237585             infp

In [9]:
# merge two sets based on ID
complete_df = info_df.merge(label_df, left_on='id', right_on='id')

In [10]:
complete_df.head()

,id,id_str,name,screen_name,location,description,verified,followers_count,friends_count,listed_count,...,total_media_count,number_of_tweets_scraped,average_tweet_length,average_retweet_count,average_favorite_count,average_hashtag_count,average_url_count,average_mentions_count,average_media_count,mbti_personality
0,160881623,160881623,Biam üçÉ 32 Days AC üå¥üåπ,_AiBiam,Hateno Village,üê∏ {INFP}{ESP/ENG} ‚Ä¢ Current obsession: Unchart...,False,1904,782,67,...,114,200.0,11.785000,3003.580000,0.980000,0.250000,0.185000,0.695000,0.570000,infp
1,28968838,28968838,pao,paoacflores,Mandaluyong/StaCruz Laguna PH,right brained lefty. infp. hufflepuff. collect...,False,14135,1338,47,...,34,200.0,16.150000,3718.745000,1.695000,0.410000,0.215000,0.780000,0.170000,infp
2,2325006565,2325006565,penguüåª‚ù§Ô∏èüçì@ÈùíÈ≥•ÁéãÂõΩ,PenguPooh,PengUstine CCTV,üáπüáºüáØüáµüá∫üá∏ÔΩú‚ôãE/INFPÔΩúÂíå‚ÜîËã±ÔΩú20‚¨ÜÔΩúchaotic biÔΩúÈ´òÊµÆ‰∏äÔΩú181001ÔΩú‰Ωê...,False,1223,604,31,...,40,199.0,9.668342,3722.211055,0.824121,0.356784,0.195980,0.854271,0.201005,infp
3,907848145,907848145,lynn bean,sukaihan,Singapore,"eng, ‰∏≠ | exo, x-exo and wayv üíï | 22 | scorpio ...",False,8512,312,147,...,77,192.0,14.718750,10028.718750,1.526042,0.401042,0.130208,0.906250,0.401042,infp
4,1330237585,1330237585,Seiüí´,nemuiryuu,NaN,„ÄêINFP„ÄëHe/Him ‚úß CEO of gothic idols ‚òÖ Ëò≠Â≠êP,False,1805,340,69,...,99,200.0,7.655000,827.370000,2.190000,0.080000,0.055000,0.635000,0.495000,infp

## Explore Missingness 
We first explored the datasets and found that all the missing values are the columns that contain private information (e.g. account name, location). We removed all columns that contain such private identifiable information and selected ones that were most useful for measuring social media activeness and engagement.

In [11]:
info_df.isna().sum(axis = 0)

id                                 0
id_str                             0
name                               1
screen_name                        0
location                        1199
description                      119
verified                           0
followers_count                    0
friends_count                      0
listed_count                       0
favourites_count                   0
statuses_count                     0
number_of_quoted_statuses          0
number_of_retweeted_statuses       0
total_retweet_count                0
total_favorite_count               0
total_hashtag_count                0
total_url_count                    0
total_mentions_count               0
total_media_count                  0
number_of_tweets_scraped           0
average_tweet_length               0
average_retweet_count              0
average_favorite_count             0
average_hashtag_count              0
average_url_count                  0
average_mentions_count             0
average_media_count                0
dtype: int64

In [12]:
info_df.dtypes

id                                int64
id_str                            int64
name                             object
screen_name                      object
location                         object
description                      object
verified                           bool
followers_count                   int64
friends_count                     int64
listed_count                      int64
favourites_count                  int64
statuses_count                    int64
number_of_quoted_statuses         int64
number_of_retweeted_statuses      int64
total_retweet_count               int64
total_favorite_count              int64
total_hashtag_count               int64
total_url_count                   int64
total_mentions_count              int64
total_media_count                 int64
number_of_tweets_scraped        float64
average_tweet_length            float64
average_retweet_count           float64
average_favorite_count          float64
average_hashtag_count           float64
average_url_count               float64
average_mentions_count          float64
average_media_count             float64
dtype: object

To measure social media activeness & engagement, we categorized our data into two types based on what we had. The first category (member_df) is related to user interactions: the number of followers, followings, and listed groups. The second category (tweet_df) is related to tweeting activities: the number of total tweets, favorite tweets, and collected tweets.

In [13]:
# select columns for measuring activeness & engagement
member_df = complete_df[['mbti_personality', 'id','followers_count', 'friends_count', 'listed_count']]
tweet_df = complete_df[['mbti_personality','id','favourites_count', 'statuses_count','number_of_tweets_scraped']]

In [14]:
member_df.head()

  mbti_personality          id  followers_count  friends_count  listed_count
0             infp   160881623             1904            782            67
1             infp    28968838            14135           1338            47
2             infp  2325006565             1223            604            31
3             infp   907848145             8512            312           147
4             infp  1330237585             1805            340            69

In [15]:
tweet_df.head()

,mbti_personality,id,favourites_count,statuses_count,number_of_tweets_scraped
0,infp,160881623,133836,410600,200.0
1,infp,28968838,103794,358901,200.0
2,infp,2325006565,178178,312384,199.0
3,infp,907848145,40136,282995,192.0
4,infp,1330237585,151521,244181,200.0

In [16]:
# rename confusing col names based on the description in the data source
member_df = member_df.rename(columns={"friends_count": "following_count"})
tweet_df.columns = ['mbti_personality','id','liked_count', 'total_tweets_count', 'collected_tweets_count']

In [17]:
tweet_df.head()

,mbti_personality,id,liked_count,total_tweets_count,collected_tweets_count
0,infp,160881623,133836,410600,200.0
1,infp,28968838,103794,358901,200.0
2,infp,2325006565,178178,312384,199.0
3,infp,907848145,40136,282995,192.0
4,infp,1330237585,151521,244181,200.0

In [18]:
member_df.head()

  mbti_personality          id  followers_count  following_count  listed_count
0             infp   160881623             1904              782            67
1             infp    28968838            14135             1338            47
2             infp  2325006565             1223              604            31
3             infp   907848145             8512              312           147
4             infp  1330237585             1805              340            69

In [19]:
# drop nan values
member_df = member_df.dropna(how='all')
tweet_df = tweet_df.dropna(how='all')
print(member_df.shape, tweet_df.shape)

(8328, 5) (8328, 5)

In [20]:
# Categorize each personality into four types (identities)
def getFourTypes(mbti_str):
    if 'nt'in mbti_str:
        return 'Analysts'
    elif 'nf' in mbti_str:
        return 'Diplomats'
    elif ('sfj' in mbti_str) or ('stj' in mbti_str):
        return 'Sentinels'
    elif ('sfp' in mbti_str) or ('stp' in mbti_str):
        return 'Explorers'

In [21]:
member_df['Four_Type'] = member_df['mbti_personality'].apply(getFourTypes)
tweet_df['Four_Type'] = tweet_df['mbti_personality'].apply(getFourTypes)

In [22]:
# explore each personality's followers count
member_df.groupby(['mbti_personality','Four_Type']).followers_count.describe()

,,count,mean,std,min,25%,50%,75%,max
mbti_personality,Four_Type,,,,,,,,
enfj,Diplomats,723.0,1963.118949,5464.469251,9.0,541.00,915.0,1620.00,105072.0
enfp,Diplomats,900.0,2591.627778,9502.373248,56.0,596.25,996.0,1928.50,217603.0
entj,Analysts,677.0,2722.358936,6307.252843,10.0,572.00,974.0,1986.00,57681.0
entp,Analysts,586.0,2120.215017,4965.113035,2.0,465.00,916.0,1697.50,75739.0
esfj,Sentinels,236.0,2765.406780,17593.395175,43.0,494.75,864.5,1472.00,268186.0
esfp,Explorers,202.0,2605.465347,15011.564902,0.0,470.00,816.5,1583.75,211474.0
estj,Sentinels,221.0,2869.751131,14101.072088,33.0,507.00,888.0,1684.00,206024.0
estp,Explorers,147.0,1572.102041,2772.903784,11.0,388.00,863.0,1568.00,20366.0
infj,Diplomats,917.0,4162.583424,12667.925871,43.0,804.00,1445.0,2807.00,232488.0
infp,Diplomats,899.0,3869.899889,27793.526475,33.0,608.50,1091.0,2058.00,728910.0
intj,Analysts,905.0,4303.625414,23975.418602,23.0,555.00,997.0,2113.00,637354.0
intp,Analysts,712.0,4142.523876,36771.829963,3.0,470.00,960.0,2008.75,951791.0
isfj,Sentinels,420.0,1335.316667,2293.422824,21.0,421.25,787.5,1354.50,30398.0
isfp,Explorers,232.0,1679.310345,3667.596343,1.0,309.50,775.5,1618.50,40655.0
istj,Sentinels,342.0,1638.616959,4076.960137,0.0,408.75,794.0,1344.25,57848.0
istp,Explorers,209.0,1759.593301,3563.636441,11.0,304.00,757.0,1392.00,27814.0

In [23]:
# describe each type's followers count
member_df.groupby('Four_Type').followers_count.describe()

,count,mean,std,min,25%,50%,75%,max
Four_Type,,,,,,,,
Analysts,2880.0,3447.826736,23013.191130,2.0,513.00,965.0,1983.00,951791.0
Diplomats,3439.0,3212.541146,16588.909013,9.0,610.50,1110.0,2097.00,728910.0
Explorers,790.0,1917.415190,8141.462507,0.0,357.25,789.5,1576.25,211474.0
Sentinels,1219.0,1975.464315,10126.076027,0.0,451.00,822.0,1438.50,268186.0

In [24]:
# describe each type's following count
member_df.groupby('Four_Type').following_count.describe()

,count,mean,std,min,25%,50%,75%,max
Four_Type,,,,,,,,
Analysts,2880.0,1620.666319,18244.499954,0.0,359.0,697.5,1312.25,958249.0
Diplomats,3439.0,1577.764466,5840.258184,0.0,453.5,844.0,1500.00,212479.0
Explorers,790.0,661.803797,1108.435414,0.0,199.0,432.5,839.00,23540.0
Sentinels,1219.0,1063.737490,6616.721161,0.0,296.0,564.0,1044.00,208848.0

In [25]:
# describe each type's listed count
member_df.groupby('Four_Type').listed_count.describe()

            count       mean         std  min  25%   50%   75%     max
Four_Type
Analysts   2880.0  62.867361  199.970883  0.0  8.0  21.0  52.0  4583.0
Diplomats  3439.0  58.570805  197.393485  0.0  9.0  22.0  51.0  5727.0
Explorers   790.0  21.537975   53.159234  0.0  2.0   8.0  22.0   980.0
Sentinels  1219.0  30.999180   85.716487  0.0  5.0  13.0  31.5  1827.0

In [26]:
# describe each type's total tweets count
tweet_df.groupby('Four_Type').total_tweets_count.describe()

,count,mean,std,min,25%,50%,75%,max
Four_Type,,,,,,,,
Analysts,2880.0,23670.266319,43295.673922,20.0,2947.00,8743.5,25466.25,656839.0
Diplomats,3439.0,24028.350683,38879.733541,55.0,3700.50,10575.0,27520.50,497199.0
Explorers,790.0,25737.417722,43494.687182,29.0,1331.75,7992.5,30667.00,433234.0
Sentinels,1219.0,28676.253486,49518.134963,37.0,3609.00,12075.0,33217.50,523800.0

We then explored some possibilities of calculating social media activeness.
We got data from each user and then group it into four types, then we measure the medium of each type since all the distribution is largely right skewed (the mean is far greater than the medium). We chose the medium (50%) as each group's measurement since it won't be affected much by the outliers.

For tweeting activeness, we gave each data different weights because we regard users being more "active and engaged" if they post their own tweets and share thoughts rather than just collecting and favoriting others' tweets.

In [27]:
# Calculate tweeting activeness & engagement (by Four Types)
def getTweetActiveness(liked, tweets, collected):
    return liked*0.25 + tweets*0.5 + collected*0.25

In [28]:
tweets_medium_four = tweet_df.groupby('Four_Type').total_tweets_count.describe()['50%']
liked_medium_four = tweet_df.groupby('Four_Type').liked_count.describe()['50%']
collected_medium_four = tweet_df.groupby('Four_Type').collected_tweets_count.describe()['50%']

In [29]:
print(tweets_medium_four, liked_medium_four, collected_medium_four)

Four_Type
Analysts      8743.5
Diplomats    10575.0
Explorers     7992.5
Sentinels    12075.0
Name: 50%, dtype: float64 Four_Type
Analysts     4655.0
Diplomats    8352.0
Explorers    2154.0
Sentinels    3428.0
Name: 50%, dtype: float64 Four_Type
Analysts     199.0
Diplomats    200.0
Explorers    199.0
Sentinels    199.0
Name: 50%, dtype: float64

In [30]:
Analysts_tw_activeness = getTweetActiveness(liked_medium_four[0], tweets_medium_four[0], collected_medium_four[0])
print('Analysts: Tweeting Behavior Activeness is ', Analysts_tw_activeness)
Diplomats_tw_activeness = getTweetActiveness(liked_medium_four[1], tweets_medium_four[1], collected_medium_four[1])
print('Diplomats: Tweeting Behavior Activeness is ', Diplomats_tw_activeness)
Explorers_tw_activeness = getTweetActiveness(liked_medium_four[2], tweets_medium_four[2], collected_medium_four[2])
print('Explorers: Tweeting Behavior Activeness is ', Explorers_tw_activeness)
Sentinels_tw_activeness = getTweetActiveness(liked_medium_four[3], tweets_medium_four[3], collected_medium_four[3])
print('Sentinels: Tweeting Behavior Activeness is ', Sentinels_tw_activeness)

Analysts: Tweeting Behavior Activeness is  5585.25
Diplomats: Tweeting Behavior Activeness is  7425.5
Explorers: Tweeting Behavior Activeness is  4584.5
Sentinels: Tweeting Behavior Activeness is  6944.25

For the user-interaction activeness, we gave different data different weights again. 

Those were our first exploratory step and the specific weighted value could be changed later.
We regard the number of followers and followings having the same weights, but less weight for the listed. This is because 'listed' counts how many people list this user into certain groups, which happens not as frequently as how people usually engage with others on Twitter (by following and being followed).

In [31]:
# Calculate user interaction activeness & engagement (by Four Types)
def getUserActiveness(follwers, followings, listed):
    return follwers*0.4 + followings*0.4 + listed*0.2

In [32]:
follower_medium_four = member_df.groupby('Four_Type').followers_count.describe()['50%']
following_medium_four = member_df.groupby('Four_Type').following_count.describe()['50%']
listed_medium_four = member_df.groupby('Four_Type').listed_count.describe()['50%']

In [33]:
print(follower_medium_four, following_medium_four, listed_medium_four)

Four_Type
Analysts      965.0
Diplomats    1110.0
Explorers     789.5
Sentinels     822.0
Name: 50%, dtype: float64 Four_Type
Analysts     697.5
Diplomats    844.0
Explorers    432.5
Sentinels    564.0
Name: 50%, dtype: float64 Four_Type
Analysts     21.0
Diplomats    22.0
Explorers     8.0
Sentinels    13.0
Name: 50%, dtype: float64

In [34]:
for i in range(4):
    identity = ''
    if i==0:
        identity = 'Analysts'
    elif i==1:
        identity = 'Diplomats'
    elif i==2:
        identity = 'Explorers'
    else:
        identity = 'Sentinels'
    active_index = getUserActiveness(follower_medium_four[i], following_medium_four[i], listed_medium_four[i])
    print(identity + ': User Interaction Activeness is '+ str(active_index))

Analysts: User Interaction Activeness is 669.2
Diplomats: User Interaction Activeness is 786.0
Explorers: User Interaction Activeness is 490.40000000000003
Sentinels: User Interaction Activeness is 557.0000000000001

## Part II: Emoji üòÑ (Datasets #1, #2, #3, #4)

In this section, we use emoji for Twitter users' activeness and engagment information analysis and sentiment exploration. We extract emoji from twitter_MBTI.csv(text_df) and user_tweets.csv (user_df) which contains tweets information. To obtain the personality type information, we also created a merged_df by combining mini_user_df (a subset of cleaned user_df) and mbti_labels.csv (user_mbti_df).

In [35]:
text_df.head()

   Unnamed: 0                                               text label
0           0  @Pericles216 @HierBeforeTheAC @Sachinettiyil T...  intj
1           1  @Hispanthicckk Being you makes you look cute||...  intj
2           2  @Alshymi Les balles sont r√©elles et sont tir√©e...  intj
3           3  I'm like entp but idiotic|||Hey boy, do you wa...  intj
4           4  @kaeshurr1 Give it to @ZargarShanif ... He has...  intj

In [36]:
text_df.shape

(7811, 3)

In [37]:
user_df.head()

,id,tweet_1,tweet_2,tweet_3,tweet_4,tweet_5,tweet_6,tweet_7,tweet_8,tweet_9,...,tweet_191,tweet_192,tweet_193,tweet_194,tweet_195,tweet_196,tweet_197,tweet_198,tweet_199,tweet_200
0,160881623,@andresitonieve Me he quedado igual estoy llor...,RT @heikala_art: Fragment of a Star üí´ Celebrat...,RT @bananamisart: I heard it was BOtW's 3rd an...,RT @night_sprout: new banner time!! https://t....,RT @dealer_rug: Why is everyone buying toilet ...,@andresitonieve Amo el dise√±o de este personaje,RT @Tchaigothsky: UNFORTUNATELY I CANT STOP WA...,RT @_Ritao_: IT'S SO CUTE AHHHHHHHüò≠ https://t....,RT @Lesfleursdmal: Os dejo esto por aqu√≠ por s...,...,NOOOOOOOOOOO MURCIA HA CA√çDO TAMBI√âN üòîüòîüòî,@ederugaruto Si te est√°n amenazando de esa man...,19. Siempre me han encantado los d√≠as de fuego...,RT @pupa_puuupa: 4„Äú6 https://t.co/Hhdv33tWOi,RT @TANA_in_: Îú®Í±∞Ïö¥ Ïó¨Î¶Ñ Î∞§ÏùÄ Í∞ÄÍ≥† ÎÇ®ÏùÄ Í±¥ Î≥ºÌíàÏóÜÏßÄÎßå https://...,RT @Vivi95862484: ‚ù§Ô∏èüíô https://t.co/OAv2F1FKLc,RT @gomachino: „Éü„ÉÑ„Éä„É´„ÅÆÊó• https://t.co/9b44lJtHDW,RT @_KUZUDANA_: ‚ù§Ô∏è„Éü„ÉÑ„Éä„É´„ÅÆÊó•üíô https://t.co/7wCGN8Wgl9,RT @Locarconio: üî¥ Ciertos youtubers est√°n en M...,RT @charllandsberg: Asexual women in South Afr...
1,28968838,"PLEASE VOTE, VOTE, VOTE FOR AMYBETH! thanks! i...",RT @sofeimous: Look at this cutie! Thank you f...,"'kelangan talaga lumipat ng bahay, pero di ka ...",forgiveness and justice.\nforgiveness with jus...,hirap maging babae no? #PamilyaKoPagkabuwag,"eh damang-dama ko yung pagod ni luz, yung pago...","oo nga no? makes you think, what's your deal-b...",hay nako si apol timing fail talaga.\n#Pamilya...,RT @tracy_erickson: Halimaw si Sylvia Sanchez....,...,RT @GingerSpirits: AB giving me Lucas content?...,RT @musicfanforeva2: god bless the writers of ...,RT @AtheerforAnne: @TahiraOsman4 https://t.co/...,RT @TahiraOsman4: Who can pinpoint the exact m...,"RT @TahiraOsman4: Dear Gilbert,\n\nI'm throwin...",RT @TahiraOsman4: (ANNE NATION)\n\nwe are ever...,RT @TahiraOsman4: (what is love)\n\nloving is ...,RT @MikhaelVervoort: This Anne Nation. \n\nAdd...,RT @aqbeltran0612: To fail means we‚Äôve tried. ...,@Kermit5010 hahahahahahaha! tingnan natin! mah...
2,2325006565,„Åø„Çì„Å™„Åã„Çâ„ÅÆÂåøÂêçË≥™Âïè„ÇíÂãüÈõÜ‰∏≠ÔºÅ\n\n„Åì„Çì„Å™Ë≥™Âïè„Å´Á≠î„Åà„Å¶„Çã„Çà\n‚óè Hello‚Ä¶\n thi...,RT @shokami_movie: ‰ªäÊó•„ÅØ‚Ä¶#‰ΩêËó§„ÅÆÊó• ü§©üíì\n\nÊàë„Çâ„ÅåÂ∫ßÈï∑ #‰ΩêËó§Â§ßÊ®π...,RT @taiki__official: ‰ªäÊó•„ÅØ #‰ΩêËó§„ÅÆÊó• „Çâ„Åó„ÅÑ„Åß„ÅôüòÇ,RT @Auditionblue: #Auditionblue ÔºîÊúàÂè∑Áô∫Â£≤‰∏≠„Åß„ÅôÔºÅ\nÊú¨Êó•Ôºì...,RT @generationsfext: #GENERATIONS WORLD TOUR 2...,PenguPooh\n„ÅÑ„ÅÑ„Å≠„Åï„Çå„ÅüÊï∞:10(ÂâçÊó•ÊØî:+6)\n„Éï„Ç©„É≠„Éº„Åó„ÅüÊï∞:5(ÂâçÊó•ÊØî:+...,PenguPooh\n„ÉÑ„Ç§„Éº„ÉàÊï∞:27(ÂâçÊó•ÊØî:+5)\nRT„Åó„ÅüÊï∞:19(ÂâçÊó•ÊØî:+7)\...,RT @HimeROAR: Does nails and puts on makeup to...,RT @kapsulecore: I hate to come on main and so...,...,RT @NYLONJAPAN: ‚Äú‰ªäÈÄ±‰ΩïË≤∑„ÅÜÔºü‚Äù„Çí„ÉÜ„Éº„Éû„Å´Áî∑Â•≥ÂÖ±„Å´Ê•Ω„Åó„ÇÅ„Çã„Éï„Ç°„ÉÉ„Ç∑„Éß„É≥„Éö„Éº„Ç∏...,@coffeebourbon OMFG,RT @MLBJapan: „Äê #„Éâ„Ç∏„É£„Éº„Çπ „Äë3Â∫¶„ÅÆ #„Çµ„Ç§„É§„É≥„Ç∞Ë≥û Â∑¶ËÖï„Åå‰ªäÊó•„ÇÇÂ•ΩÊäïÔºÅ3...,RT @LDH__TV: Êú¨Êó•21ÊôÇÈÖç‰ø°üì∫\nÂ§ßÂ•ΩË©ïüéâ‚ú®16‰∫∫„Åß„ÅÆÊÖ∞ÂÆâÊóÖË°åÊú™ÂÖ¨Èñã„Éô„Çπ„Éà10üéû...,I pressed the up button on an elevator that wa...,Á¨ë,„Å®„Å´„Åã„Åè„Ç¢„Éõ„Åø„Åü„ÅÑ„Å™Ê≠©„ÅçÊñπ„Åó„Å¶„Çã„Å£„Å¶ÊÉ≥ÂÉè„Åó„Å¶„Åø„Å¶„ÄÅ,Ââç„Åã„Çâ„Éö„É≥„ÇÆ„É≥„Å£„ÅΩ„ÅÑ„Å£„Å¶Ë®Ä„Çè„Çå„Å¶„Åü„Çì„Å†„Åë„Å©„ÅäËÖπÂ§ß„Åç„Åè„Å™„Å£„Å¶Ê≠©„ÅçÊñπ„ÅØ„ÇÇ„Å£„Å®„Éö„É≥„ÇÆ„É≥„Å£„ÅΩ„Åè„Å™„Å£„Åü...,"RT @tkn0801: Alright guys, cherry blossom seas...",NaN
3,907848145,RT @yep4andy: ü§∑‚Äç‚ôÄÔ∏è\n#EXOLSelcaDay \n@weareoneE...,RT @lqldks: when is this from??? üò≠üò≠üò≠ https://t...,"RT @j__nmyeon: since we're talking about suh√∏,...",I am supporting this fundraising page https://...,RT @cubsie_: Sun and moon outfits https://t.co...,@mouthysehun that looks like porridge AND TO D...,"RT @weareoneEXO: Au Revoir, Paris (ÏÑ∏Ìõà)\n\nüëâüèªht...",RT @sukaihan: this is definitely one of my fav...,RT @bblyds: oh to be watching the rain and lis...,...,RT @sehunownsme: [hunstagram] Remember to your...,RT @mishyeol: [üñºWP] \nEXO-L Welcome Kit Photo ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1330237585,@DaryKiri_ Gracias a ti por apreciarlo üò≠‚úåüèª,RT @DaryKiri_: @nemuiryuu Gracias por poner en...,https://t.co/y8rrc8yJHi https://t.co/Xte4LM6LyK,RT @izzyhumair: Rt if you give Goths permissio...,"@ageyoru Dw you‚Äôre absolutely right, stan heal...",ü§¢ü§¢ü§¢ü§¢ü§¢ü§¢ü§¢ü§¢ü§¢ü§¢ü§Æ https://t.co/wn7bh40tGU,stop asking for my money cygames I don‚Äôt have any,@vonfriedhof Desde luego se est√°n esforzando e...,RT @Ryusei_Rainbow_: ‚ÄúIf you‚Äôre going to start...,...,nothing as expected,this game was a mistake,fuck it i'm using my shitty 20 pulls i'm sad...,@kolveniks yo tambi√©n lo odio,https://t.co/kuvQvIHQei,oomf GOT HADES AND I NEED HADES,I wanna CRY.,@MasaruDz I HATE U...... omg please give,I wanna quit this game soooo bad,@DanaCWSF a una amiga igual... qu√© horror

In [38]:
user_df.shape

(24598, 201)

In [39]:
user_mbti_df = label_df
user_mbti_df.head()

           id mbti_personality
0   160881623             infp
1    28968838             infp
2  2325006565             infp
3   907848145             infp
4  1330237585             infp

### 1) Drop useless columns and set meaningful index
We drop `Unnamed: 0` column in the `text_df` since it is a series of duplicate indices.
We set the index of `user_df` and `user_mbti_df` with `id` column since it uniquely indentify each Twitter user.

In [40]:
text_df = text_df.drop('Unnamed: 0', axis=1)
user_df = user_df.set_index('id', drop = True)
user_mbti_df = user_mbti_df.set_index('id', drop = True)

### 2) Checking column's datatype
According to the `DtypeWarning`, we have mixed data types in multiple columns (all tweets column). To remove this warning, we will first convert `id` column and all tweet columns from mixed object type to tidy object type (string type).

In [41]:
user_df.dtypes

tweet_1      object
tweet_2      object
tweet_3      object
tweet_4      object
tweet_5      object
              ...
tweet_196    object
tweet_197    object
tweet_198    object
tweet_199    object
tweet_200    object
Length: 200, dtype: object

In [42]:
user_df = user_df.astype(str)

### 3) Checking missingness
- There are multiple `'nan'` values in `user_df`. Since we only care about the emoji in tweets, we decide to only keep the first 10 tweets of each Twitter users and combine each Twitter users' tweets into a single megatweet. Thus, we will only need to drop 16 Twitter users with 0 tweets, which will not affect our general analysis.
- There is no missingness in `text_df`, and `user_mbti_df`. Thus, we do not need to deal with `NaN` values.

In [43]:
user_df.isna().sum(axis = 0).sum()

0

In [44]:
user_df.isin(['nan', 'NaN']).sum(axis = 0).iloc[:10]

tweet_1        16
tweet_2      5681
tweet_3     11514
tweet_4     11516
tweet_5     11517
tweet_6     11518
tweet_7     11518
tweet_8     11521
tweet_9     11521
tweet_10    11522
dtype: int64

In [75]:
user_df = user_df[user_df['tweet_1'] != 'nan']

In [76]:
user_df.isin(['nan', 'NaN']).sum(axis = 0).iloc[:10]

tweet_1         0
tweet_2      5665
tweet_3     11498
tweet_4     11500
tweet_5     11501
tweet_6     11502
tweet_7     11502
tweet_8     11505
tweet_9     11505
tweet_10    11506
dtype: int64

In [46]:
text_df.isna().sum(axis = 0).sum()

0

In [47]:
text_df.isin(['nan', 'NaN']).sum(axis = 0)

text     0
label    0
dtype: int64

In [48]:
user_mbti_df.isna().sum(axis = 0).sum()

0

In [49]:
user_mbti_df.isin(['nan', 'NaN']).sum(axis = 0)

mbti_personality    0
dtype: int64

### 4) Extract emoji
#### 4.1 extract emoji from `text_df`

In [50]:
#method that return a list of distinct emoji from a given string
def find_distinct_emoji(text):
    return emoji.distinct_emoji_list(text)

In [51]:
#method that return the number of emoji from a given string
def find_emoji_count(text):
    return emoji.emoji_count(text)

In [52]:
#find distinct emoji in each tweet
text_df['emoji'] = text_df['text'].apply(find_distinct_emoji)
text_df['emoji']

0                                        [üòé, üò≥, üá¨üáß, üòè, üëÜ]
1                                   [üòâ, üòé, üòò, üôÇ, ü§§, üòÇ, üòè]
2                        [‚úåüèª, üòç, ‚ò†Ô∏è, üßçüèª‚Äç‚ôÄÔ∏è, üëã, ü§úüèª, ü§èüèª, üò≠]
3                                                      []
4       [üëè, ü•π, ü§ß, ü§£, ‚ù§Ô∏è, üò™, üéÅ, üëã, üôÇ, üòÇ, üåö, üéä, üòä, ü•∫, ü•≤, üôÑ]
                              ...
7806          [üòï, üíÄ, ü´∂üèΩ, üëÑ, üêª, üëÅÔ∏è, üòî, üíî, ‚ú®, üòº, ‚òπÔ∏è, ü´∂üèº, üò≠]
7807    [üòé, ‚ù§Ô∏è, üò®, üôè, üò≥, üòç, ‚û°Ô∏è, ü§§, ü§¨, ‚ú®, üí™, ‚ÅâÔ∏è, üî•, üëç, ...
7808          [üñï, üò¢, üî´, ü§ò, üíã, üòç, üôÑ, üòò, üíï, üòå, ‚úåÔ∏è, ü•∫, üò≠, üí™]
7809    [‚ôæÔ∏è, ü§°, üôÉ, üßõüèæ‚Äç‚ôÇÔ∏è, ü§≥, ü§≠, üò≠, üíò, üò∂, ü•π, üíô, üñ§, üòî, ‚ú®...
7810    [ü§∑‚Äç‚ôÄÔ∏è, üòé, üî´, üíî, ‚òπÔ∏è, ü§¢, üò≠, ü´±, ü•∫, üíñ, üò¢, üê≤, üíï, üßµ,...
Name: emoji, Length: 7811, dtype: object

In [53]:
#find number of emoji in each tweet
text_df['num_of_emoji'] = text_df['text'].apply(find_emoji_count)
text_df['num_of_emoji']

0         7
1        15
2        15
3         0
4       107
       ...
7806     52
7807     38
7808     49
7809     58
7810    159
Name: num_of_emoji, Length: 7811, dtype: int64

In [54]:
# Method that finds all emoji for a given personality type
def create_emoji_lst(personality_type):
    return text_df[text_df['label'] == personality_type]['emoji'].sum()

In [55]:
# Method that returns the total count of all the emoji from the given personality type 
def emoji_total_count(personality_type):
    return text_df[text_df['label'] == personality_type]['num_of_emoji'].sum()

In [56]:
# Method that returns the top 10 emoji from the given personality type 
#and the count of how many times each emoji occurs.
def top_10_emoji_count(personality_type):
    return pd.Series(create_emoji_lst(personality_type)).value_counts().take(np.arange(10))

In [57]:
# Find all personality types
personality_type_lst = text_df['label'].unique()
personality_type_lst

array(['intj', 'intp', 'entj', 'entp', 'infj', 'infp', 'enfj', 'enfp',
       'istj', 'isfj', 'estj', 'esfj', 'istp', 'isfp', 'estp', 'esfp'],
      dtype=object)

In [58]:
# personality types and its total emoji count
personality_df = pd.DataFrame()
personality_df['personality_type'] = pd.Series(personality_type_lst)
personality_df['emoji_count'] = personality_df['personality_type'].apply(emoji_total_count)
personality_df

   personality_type  emoji_count
0              intj        42342
1              intp        43747
2              entj        14676
3              entp        27511
4              infj        72705
5              infp        80143
6              enfj        34790
7              enfp        46998
8              istj        15204
9              isfj        30944
10             estj         4769
11             esfj         6509
12             istp        19982
13             isfp        22498
14             estp         6841
15             esfp        12714

In [59]:
# personality types and its Twitter users count
count_df = text_df.groupby('label').count()[['emoji']].rename(columns = {'emoji':'id_count'})
count_df

       id_count
label
enfj        518
enfp        729
entj        279
entp        577
esfj        105
esfp        174
estj         81
estp        100
infj       1057
infp       1282
intj        781
intp        811
isfj        364
isfp        367
istj        259
istp        327

In [60]:
# merge the two previous dataframe and compute emoji per person
personality_df = personality_df.merge(count_df, left_on = 'personality_type', right_index = True)
personality_df['emoji per person'] = personality_df['emoji_count']/personality_df['id_count']
personality_df

   personality_type  emoji_count  id_count  emoji per person
0              intj        42342       781         54.215109
1              intp        43747       811         53.942047
2              entj        14676       279         52.602151
3              entp        27511       577         47.679376
4              infj        72705      1057         68.784295
5              infp        80143      1282         62.514041
6              enfj        34790       518         67.162162
7              enfp        46998       729         64.469136
8              istj        15204       259         58.702703
9              isfj        30944       364         85.010989
10             estj         4769        81         58.876543
11             esfj         6509       105         61.990476
12             istp        19982       327         61.107034
13             isfp        22498       367         61.302452
14             estp         6841       100         68.410000
15             esfp        12714       174         73.068966

In [61]:
# find the top 10 most commonly used emoji for each personality type
for p in personality_type_lst:
    print(p)
    print(top_10_emoji_count(p))

intj
üò≠     481
üòÇ     248
ü•∫     227
‚ù§Ô∏è    206
ü•∞     196
ü§£     170
üíÄ     156
üòç     155
ü•π     143
üòî     135
dtype: int64
intp
üò≠     543
ü•∫     261
üíÄ     222
üòÇ     189
ü•∞     171
üòç     170
üòî     164
‚ù§Ô∏è    160
ü•π     145
ü•≤     138
dtype: int64
entj
üò≠     168
üòÇ      91
ü•∫      73
‚ù§Ô∏è     73
üíÄ      63
üòç      57
ü§£      55
ü•∞      54
üòî      52
ü•π      48
dtype: int64
entp
üò≠     381
üíÄ     151
ü•∫     148
‚ù§Ô∏è    123
üòÇ     120
üòç     107
üòî     100
ü•∞      97
üíî      95
ü§£      76
dtype: int64
infj
üò≠     703
üòÇ     406
ü•∫     403
‚ù§Ô∏è    323
ü•∞     320
üòç     268
ü§£     263
ü•π     240
‚ú®     233
üíÄ     222
dtype: int64
infp
üò≠     935
ü•∫     501
‚ù§Ô∏è    334
ü•∞     330
üòÇ     315
üíÄ     299
üòç     294
ü•≤     242
üòî     239
ü•π     239
dtype: int64
enfj
üò≠     355
ü•∫     204
üòÇ     176
ü•∞     160
‚ù§Ô∏è    146
üòç     136
üëÄ     126
ü§£     112
ü•≤     109
ü•π     106
dtype: int64
enfp
üò≠     503
ü•∫     272
‚ù§Ô∏è    232
ü•∞     214
üòÇ     208
üòç     190
üíÄ     164
ü•π     155
üòî     150
ü•≤     148
dtype: int64
istj
üò≠     188
ü•∫      94
üòç      75
üòÇ      70
üíÄ      65
‚ù§Ô∏è     62
ü•≤      60
ü•∞      57
ü§£      52
ü•π      52
dtype: int64
isfj
üò≠     280
ü•∫     160
üòÇ     132
ü•∞     105
üòç     100
‚ù§Ô∏è     94
ü•π      92
ü•≤      89
üòî      84
ü§£      78
dtype: int64
estj
üò≠     48
ü•∫     30
üòÇ     26
üòç     21
ü•∞     21
ü•≤     19
‚ù§Ô∏è    19
ü§£     19
üíÄ     18
ü•π     16
dtype: int64
esfj
üò≠     82
ü•∫     42
‚ù§Ô∏è    40
üòÇ     36
üòç     33
üíÄ     30
ü§£     25
ü•π     24
ü•≤     24
üôè     23
dtype: int64
istp
üò≠     252
ü•∫     125
üíÄ      99
‚ù§Ô∏è     92
üòÇ      83
ü•π      78
üíî      75
üòç      74
üòî      70
ü•∞      68
dtype: int64
isfp
üò≠     291
ü•∫     128
‚ù§Ô∏è    105
üòç      98
üíÄ      92
ü•π      89
ü•∞      85
üòÇ      82
üòî      78
ü•≤      73
dtype: int64
estp
üò≠    69
ü•∫    37
üíÄ    36
ü•π    22
üòç    22
ü•∞    22
üòÇ    21
ü§®    20
üíî    19
üòî    18
dtype: int64
esfp
üò≠     138
ü•∫      58
üòç      46
üíÄ      44
‚ù§Ô∏è     44
üíî      43
üòÇ      43
üò©      40
ü•∞      39
ü•π      36
dtype: int64

##### Observation: üò≠ is the top 1 emoji for all personality types

#### 4.2 create `mini_user_df` from `user_df`, merge it with `user_mbti_df`, and extract emoji.

- Since there are a maximum of 200 tweets for a Twitter user,

In [62]:
# Extract the first 10 user tweets from all users
mini_user_df = user_df.iloc[:,:11]
mini_user_df

,tweet_1,tweet_2,tweet_3,tweet_4,tweet_5,tweet_6,tweet_7,tweet_8,tweet_9,tweet_10,tweet_11
id,,,,,,,,,,,
160881623,@andresitonieve Me he quedado igual estoy llor...,RT @heikala_art: Fragment of a Star üí´ Celebrat...,RT @bananamisart: I heard it was BOtW's 3rd an...,RT @night_sprout: new banner time!! https://t....,RT @dealer_rug: Why is everyone buying toilet ...,@andresitonieve Amo el dise√±o de este personaje,RT @Tchaigothsky: UNFORTUNATELY I CANT STOP WA...,RT @_Ritao_: IT'S SO CUTE AHHHHHHHüò≠ https://t....,RT @Lesfleursdmal: Os dejo esto por aqu√≠ por s...,RT @ebiebieshrimp: Êßã„Å£„Å¶„Åª„Åó„ÅÑ https://t.co/TJi7qjktil,RT @cryptidsock: asakusa gets a haircut\n\n#Êò†ÂÉè...
28968838,"PLEASE VOTE, VOTE, VOTE FOR AMYBETH! thanks! i...",RT @sofeimous: Look at this cutie! Thank you f...,"'kelangan talaga lumipat ng bahay, pero di ka ...",forgiveness and justice.\nforgiveness with jus...,hirap maging babae no? #PamilyaKoPagkabuwag,"eh damang-dama ko yung pagod ni luz, yung pago...","oo nga no? makes you think, what's your deal-b...",hay nako si apol timing fail talaga.\n#Pamilya...,RT @tracy_erickson: Halimaw si Sylvia Sanchez....,chico understands the most and probably from a...,let's talk about how chico loves luz like his ...
2325006565,„Åø„Çì„Å™„Åã„Çâ„ÅÆÂåøÂêçË≥™Âïè„ÇíÂãüÈõÜ‰∏≠ÔºÅ\n\n„Åì„Çì„Å™Ë≥™Âïè„Å´Á≠î„Åà„Å¶„Çã„Çà\n‚óè Hello‚Ä¶\n thi...,RT @shokami_movie: ‰ªäÊó•„ÅØ‚Ä¶#‰ΩêËó§„ÅÆÊó• ü§©üíì\n\nÊàë„Çâ„ÅåÂ∫ßÈï∑ #‰ΩêËó§Â§ßÊ®π...,RT @taiki__official: ‰ªäÊó•„ÅØ #‰ΩêËó§„ÅÆÊó• „Çâ„Åó„ÅÑ„Åß„ÅôüòÇ,RT @Auditionblue: #Auditionblue ÔºîÊúàÂè∑Áô∫Â£≤‰∏≠„Åß„ÅôÔºÅ\nÊú¨Êó•Ôºì...,RT @generationsfext: #GENERATIONS WORLD TOUR 2...,PenguPooh\n„ÅÑ„ÅÑ„Å≠„Åï„Çå„ÅüÊï∞:10(ÂâçÊó•ÊØî:+6)\n„Éï„Ç©„É≠„Éº„Åó„ÅüÊï∞:5(ÂâçÊó•ÊØî:+...,PenguPooh\n„ÉÑ„Ç§„Éº„ÉàÊï∞:27(ÂâçÊó•ÊØî:+5)\nRT„Åó„ÅüÊï∞:19(ÂâçÊó•ÊØî:+7)\...,RT @HimeROAR: Does nails and puts on makeup to...,RT @kapsulecore: I hate to come on main and so...,RT @pernilleru: A Japanese language version of...,RT @AndreiAndrei63: Cool kitty.üòçüêØüêæ https://t.c...
907848145,RT @yep4andy: ü§∑‚Äç‚ôÄÔ∏è\n#EXOLSelcaDay \n@weareoneE...,RT @lqldks: when is this from??? üò≠üò≠üò≠ https://t...,"RT @j__nmyeon: since we're talking about suh√∏,...",I am supporting this fundraising page https://...,RT @cubsie_: Sun and moon outfits https://t.co...,@mouthysehun that looks like porridge AND TO D...,"RT @weareoneEXO: Au Revoir, Paris (ÏÑ∏Ìõà)\n\nüëâüèªht...",RT @sukaihan: this is definitely one of my fav...,RT @bblyds: oh to be watching the rain and lis...,RT @knockknock0408: KAI ins\n@weareoneEXO http...,RT @knockknock0408: KAI \n@weareoneEXO https:/...
1330237585,@DaryKiri_ Gracias a ti por apreciarlo üò≠‚úåüèª,RT @DaryKiri_: @nemuiryuu Gracias por poner en...,https://t.co/y8rrc8yJHi https://t.co/Xte4LM6LyK,RT @izzyhumair: Rt if you give Goths permissio...,"@ageyoru Dw you‚Äôre absolutely right, stan heal...",ü§¢ü§¢ü§¢ü§¢ü§¢ü§¢ü§¢ü§¢ü§¢ü§¢ü§Æ https://t.co/wn7bh40tGU,stop asking for my money cygames I don‚Äôt have any,@vonfriedhof Desde luego se est√°n esforzando e...,RT @Ryusei_Rainbow_: ‚ÄúIf you‚Äôre going to start...,I‚Äôd K*LL for one 2019 pamphlet https://t.co/QG...,üèÉ üí® https://t.co/VtPKf690EJ
...,...,...,...,...,...,...,...,...,...,...,...
489644768,RT @vonerhan: There‚Äôs more to the story. SoulC...,"Also üëáüèº - in college, I used to bake my feelin...",Last night something incredible happened. I sp...,@vonerhan All on the heels of Opening Ceremony...,@vonerhan @Spotify This almost feels more pers...,RT @jkk: These badass women built huge BILLION...,RT @rezakhadjavi: 2010s: decade of growth hack...,"Today, as I sit among my fellow female investo...",+ never forget @itumasovIBM 's 5 minutes of fa...,"For all my podcast-loving friends, I'm so thri...",@laurachau @lfell2009 @coterieparty üëèüèº so pump...
3061139834,"I don't need a man, I just need my mom üòÇüò≠üíûüíûüòçüòç ...",@estjHoran @batangususan look at the date,I love you daw sabi ni jen.,RT @intrepidnouis: RT THIS \n#TOMORROWProjectN...,üò¢üò¢üò¢ #AlwaysInOurHeartsZaynMalik,@babymigsvergara wala pa sinasabi yung smart n...,Waiting for @SMARTPromos mechanics !! omg last...,RT @SMARTPromos: DIRECTIONERS! Get those art s...,I wanna fangirl wth @babymigsvergara dance all...,I wanna fangirl wth @babymigsvergara dance all...,I wanna fangirl wth @babymigsvergara dance all...
329077476,RT @MoTheComedian: Isolation Sessions: Kavani‚Äô...,RT @danthomas1958: PL season stats from @TheAt...,RT @YouthDidcot: A huge well done to the boys ...,RT @JPL_Gareth: Cracking opportunity to join @...,RT @leysacademy: Half Term Play Scheme | 17th ...,RT @AcademyOUFC: After a late change our U16s ...,RT @chappers_paul: üëáüèªüëáüèª get in touch üíôüíõ‚öΩÔ∏èüî• htt...,Levels üî• https://t.co/tKZjFWiDAK,@England @Thorpy80 @sterling7 Class üëèüëèüëè,@chappers_paul @AcademyOUFC @Jonnyedmunds @jwm...,@rttours do you have any accommodation/late ca...
781835161394614272,Hoy sera la entrega de premios al campeon de l...,Les estuvimos comentando de nuestra famosa est...,Bienvenidos a los chicos de segundo a√±o de pal...,Recordando buenos momentos de la estudiantina ...,Vamoss respondan la encuesta!! https://t.co/yo...,RT @MateoGoinhex1: Creo que no hubo mejor mane...,RT @juligoyco: Las mejores estudiantinas son l...,RT @lautimichelet: Creo que lo que m√°s voy a e...,RT @lautimichelet: Tremenda Estudiantina!,RT @SofiaParodiI: No caigo en que se nos fue l...,RT @SofiaParodiI: Qu√© buena estudiantina herma...
2840408812,Meet one of #Chicago's rising media stars: @Mi...,"Let's Ask: Cindy Gustafson, Chief Strategy Off...",Hiking or biking? Favorite breakfast? Best adv...,This wearable may shock you: @Mindshare_NA loo...,@DARYNALEXUS no way!!!! Do it again!!!!,RT @dneely40: Thanks from @NetInsights to @twi...,RT @NetInsights: In honor of #nationalicecream...,GroupM Ties Up with Networked Insights to Mine...,Celebratory Shake Shack lunch in Millennium Pa...,Girl crush of the week goes to Jessica Alba. S...,RT @NetInsights: '@NetInsights data reveals th...

In [63]:
#convert index type
user_mbti_df.index = user_mbti_df.index.astype(str)
user_mbti_df

                   mbti_personality
id
160881623                      infp
28968838                       infp
2325006565                     infp
907848145                      infp
1330237585                     infp
...                             ...
489644768                      estj
3061139834                     estj
329077476                      estj
781835161394614272             estj
2840408812                     estj

[8328 rows x 1 columns]

In [64]:
#merge the dataframe with tweets and the the dataframe with personality types
merged_df = mini_user_df.merge(user_mbti_df, left_index=True, right_index = True)
merged_df

,tweet_1,tweet_2,tweet_3,tweet_4,tweet_5,tweet_6,tweet_7,tweet_8,tweet_9,tweet_10,tweet_11,mbti_personality
id,,,,,,,,,,,,
1000011739210108928,RT @gayspacegulag: reshare if you hate the uni...,RT @ULTRAGLOSS: girls will have anemia and be ...,RT @MMMMateuss: -Mas o que q tu tas a fazer?\n...,RT @5sosandspn: halsey was NOT unprofessional ...,RT @electricfrxst: coronavirus: sup\n*ch√° da e...,hi guys! I haven't been on Twitter that much c...,RT @tenthletter_: Pineapple and non-pineapple ...,RT @Keally22: Was anyone else deeply terrified...,RT @talltaiI: comedians can quit their jobs no...,RT @shrncartcr: look how dr. doofenshmirtz had...,RT @jellyroki: Me asking to be in gcs and then...,isfj
1000097329997893632,RT @The_WriteReads: The #reviewoftheday comes ...,@bjornlarssen Sending spoons.,RT @BooksNest: If you're 50 pages into a book ...,Our puppy loves his @Carhartt hat! ‚ù§üê∂ #keeping...,Mental health is so important. There are time...,Happy Friday! It's time for #FirstLineFriday ...,RT @The_WriteReads: The #blogoftheday comes fr...,"First Line Friday | Ask Again, Yes by Mary Bet...",RT @The_WriteReads: The #reviewoftheday comes ...,RT @kristabellerina: Friend: I don‚Äôt drink cof...,RT @SoVeryBritish: ‚ÄúAre you busy?‚Äù \nI have mo...,intp
1000151565855023104,Megan‚Äôs Aquarius really jumped out when she sa...,RT @hilaryagro: @ndrew_lawrence People need to...,RT @ColeEscola: I wish I were this selfless ht...,RT @ReadByTheSun: ‚ôëÔ∏é Capricorn | ‚ôíÔ∏é Aquarius (...,@destineybleu Absolutely horrible. It takes 24...,@Nathalie19zzy Thank you!! ü•∞,@cordinatedchaos thank you so much ‚ò∫Ô∏è,@theEmpyrealCap ü§ëü§ë,@capriciouscappy Thank you!! üòÅ,RT @destineybleu: . https://t.co/jMuZExzzgh,@sarahmazing Thank you!! ‚ò∫Ô∏è,infj
1000222156909940737,üí§üåô‚òÅ https://t.co/Suzod0S238,@bklyngal196 @tvdeets @melissagorga I think Je...,"@MagiciansSYFY Yes, he must, and I feel like i...","What the hell is up with people who Tweet: ""Oh...",RT @tomhanks: https://t.co/pgybgIYJdG,@66Bill66 @Sanity4243 This is true.\n\nMy daug...,RT @kitty_tatty: Too cute @Thaoriginalgata @To...,@The_Weirdling That's a fantastic book.,@TonyTodd54 Yes. The Stand meets The Langolier...,https://t.co/ePSEvtbvJ6,"G'night all. Hopefully I'm on later, but I fee...",isfj
1000432467067666432,Eid mubarak everyone ‚òòÔ∏è.,@laal204 ŸÑŸäÿ≥ ŸÖŸÜ ÿßŸÑÿ¥ÿ±ÿ∑ ÿßŸÜ ŸäŸÜÿ∑ÿ®ŸÇ ÿπŸÑŸâ ÿßŸÑÿ¨ŸÖŸäÿπ ŸÜŸÅÿ≥ ...,‚Äú#ESFP‚Äù ŸäŸÅÿ∂ŸÑ ÿßŸÜ ŸäÿπÿßŸÖŸÑ ÿßŸÑÿ¥ÿÆÿµ ÿßŸÑŸÖÿπÿ¨ÿ® ÿ®Ÿá ÿ®ÿ∑ÿ±ŸäŸÇÿ© ŸÅ...,#ESFP ŸÖÿ≤ÿßÿ¨Ÿä ŸàŸÉÿ´Ÿäÿ± ÿßŸÑÿ™ŸÅŸÉŸäÿ±ÿå Ÿäÿ™ÿπŸÑŸÇ ÿ®ÿ≥ÿ±ÿπÿ© ŸàŸäŸáÿ™ŸÖ ÿ®...,-#ESFP \nÿ•ÿ∞ÿß ÿ™ÿ∂ÿßŸäŸÇÿ™ ÿßŸÅÿ∂ŸÅÿ∂ ÿ®ÿ≥ ÿ®ÿπÿØŸáÿß ÿßŸÜÿØŸÖ ÿ£ŸÜŸä ÿ∑ŸÑ...,-#ESFP \nÿßÿ≠ÿ® ÿßÿ∂ÿ≠ŸÉ ÿßŸÑŸÜÿßÿ≥ ÿ£Ÿà ÿπŸÑŸâ ÿßŸÑÿ£ŸÇŸÑ ÿ£ŸÉŸàŸÜ ÿ≥ÿ®ÿ® ...,- #ESFP \nÿßŸÉÿ±Ÿá ÿßŸÜŸáŸÖ ŸäŸÇŸàŸÑŸàŸÜ ŸÖÿß ÿπŸÜÿØŸÜÿß ÿ≥ÿßŸÑŸÅŸá ÿ∫Ÿäÿ± ...,-#ESFP \nŸÉÿ´Ÿäÿ± ÿßŸÜŸÅŸáŸÖ ÿ∫ŸÑÿ∑ ŸÜÿßÿØÿ± ŸÖŸÜ ŸäŸÅŸáŸÖŸÜŸä ÿ≤ŸäŸÜÿå ŸàÿØ...,@jwclie üíïüíï,#ESFP: ÿπÿßÿ∑ŸÅŸäŸäŸÜ ŸÖŸèŸáÿ™ŸÖŸäŸÜ ŸÑŸÖÿ¥ÿßÿπÿ± ÿßŸÑÿ¢ÿÆÿ±ŸäŸÜÿå ŸäŸÉÿ±ŸáŸàŸÜ ...,#ESFP ŸáŸà ÿßŸÑÿ∞Ÿä ŸÑŸà ŸÇÿßŸÑ ŸÉŸÑŸÖÿ© ŸÑÿ¶ŸäŸÖÿ© ÿ®ÿ≠ŸÇ ÿßŸä ÿ¥ÿÆÿµŸç ŸÉÿß...,esfp
...,...,...,...,...,...,...,...,...,...,...,...,...
999362187851370497,@MajorEnglishEsq @DonutInterns @AITA_reddit I ...,@TD_Canada Thank you! Will do.,RT @lukeisamazing: it's weird how this map abo...,Surely there's some way you can make it possib...,"Hey @TD_Canada, I know my church treasurer has...",@AITA_reddit Oh my God. This could be my son i...,RT @anitafajita15: Lots of folks are marveling...,@LouisatheLast Right? I just want to buy some ...,RT @VampireGhuleh: In the town near me (Llandu...,RT @LiataisLibrary: Heads up for folks in the ...,@Hysteriacore1 @sarahCoco13 @redditships Where...,intj
999435722569539584,@rllQ11 @iClllI_ ÿßŸÅÿ∂ŸÑ ŸÅŸÑŸÖ ÿü,@rllQ11 üòÇ‚ô•Ô∏è,@ilkli7 ÿ¥ŸÉÿ±ÿßüñ§,@rllQ11 ÿßŸÑŸÑŸá Ÿäÿ≥ÿ™ÿ± ŸàÿßŸÑŸÑŸá ÿ≠ŸÅÿ±ÿ™ ŸÖŸÜ ŸÉÿ´ÿ± ÿßŸÑÿ∂ÿ∫ÿ∑üòÇ,@rllQ11 ÿßŸÜÿß ŸÖŸÜ ÿ¥Ÿáÿ± Ÿ£ ÿ®ÿØŸäÿ™ ŸÅÿßŸäŸÜŸÑ ŸàŸÖÿßÿÆŸÑÿµÿ™ ÿßŸÑÿß ÿßŸÑ...,@IRIF0 üòÇüòÇüòÇüòÇüòÇüòÇüòÇ,@iiCil7 @Hidan_Ti ÿßÿ≥ŸÅŸäŸÜ,@Hidan_Ti @iiCil7 ÿßŸàŸÉÿßÿßÿßŸäŸä,@Hidan_Ti @iiCil7 ŸÑÿßŸÜ ŸàÿßŸÑŸÑŸá ÿ®ŸÉŸäŸÅŸä,@Hidan_Ti @iiCil7 ÿßŸÉŸäÿØ,@Hidan_Ti @iiCil7 Ÿ¢Ÿ¢Ÿ¢Ÿ¢üòÇüòÇüòÇ,estp
999530060,I love HQ https://t.co/ZsLhgaPWrE,Bless my obsessed ass to go dig through articl...,I'm clearly not going to survive 6 episodes of...,"ABSOLUTELY NO RIGHT TO KILL ME LIKE THIS, EDWA...","NO RIGHT,, no right, n o n e",Clearly this pic owns me. Just put this on my ...,"R.I.P me or /rip me/? Who knows, in any case, ...",WHO GAVE HIM THE RIGHT* I CAN'T DO ENGLISH RN,RT @aschmith_: https://t.co/XDyqNuQP4o,Who the fuck gave Edward Holcroft to look like...,RIP me https://t.co/KedRx3QR4i,istp
999562825830936576,@AkramMustapha_ ŸàŸäÿ±ÿ∂ŸäŸÜÿß ÿ®Ÿá ŸÖŸáŸÖÿß ŸÉÿßŸÜ,@tooozfeeekom HAHAHAHAHA üòÇ,@tooozfeeekom ŸÑÿ≥Ÿá ÿ≠ŸÜÿ®ÿµ ŸÅŸä ÿµŸàÿ± üòÇ,ÿ®ÿµÿ±ÿßÿ≠ÿ© ... ÿßŸÜÿß ŸÅÿπŸÑÿß ÿπŸÖŸÑÿ™ ÿßŸÑŸä ÿπŸÑŸäÿß ŸàŸÉŸÑ ÿßŸÑŸä ÿßŸÇÿØÿ±...,Out of the box üòÇ https://t.co/ijt1U7Dgk6,RT @GehanRaslan: ŸÅŸâ ÿßŸâ ŸÖŸàÿ∂Ÿàÿπ.. ŸÅŸÉÿ±Ÿá ÿ£ŸÜŸâ ÿπŸÖŸÑÿ™ ŸÉ...,Word! https://t.co/CTl3cnplBS,Oh Omar üòÇüôà https://t.co/2lDzG3Tn4A,RT @80Less: It makes my fucking heart smile wh...,True https://t.co/Qqpfqjq09d,RT @klsmd12: she‚Äôs rare\ndon‚Äôt fuck it up,infj
999722017468239872,This was actually an excellent way to get them...,@miradu Got room for one more? https://t.co/Ua...,RT @BarkyBoogz: This DEF not what healthcare w...,@MerrillBarr Dang. What was wrong with it?,RT @jackiehluo: if you have mentally filtered ...,"@MerrillBarr Hey Merrill, I found this website...",@aherman2006 I love when that happens. It‚Äôs a ...,RT @briankoppelman: If we vote this guy back i...,@HarryAlford3 @averghese @pharb19 @ThomasAlfor...,This got dark. Quick https://t.co/6lRLnhzYfF,@InHollywoodland this man is 34 https://t.co/T...,intp

In [65]:
#sum all the tweets for each person
merged_df['all_tweets'] = (merged_df['tweet_1']+merged_df['tweet_2']+merged_df['tweet_3']+
                           merged_df['tweet_4']+merged_df['tweet_5']+merged_df['tweet_6']+
                           merged_df['tweet_7']+merged_df['tweet_8']+merged_df['tweet_9']+
                           merged_df['tweet_10']
                          )

In [66]:
#find distinct emoji for each Twitter user
merged_df['all_emoji'] = merged_df['all_tweets'].astype(str).apply(find_distinct_emoji)

In [67]:
#find the number of emoji for each Twitter user
merged_df['num_of_emoji'] = merged_df['all_tweets'].astype(str).apply(find_emoji_count)

In [68]:
# Method that finds all emoji for a given personality type
def create_emoji_lst_2(personality_type):
    return merged_df[merged_df['mbti_personality'] == personality_type]['all_emoji'].sum()

In [69]:
# Method that returns the total count of all the emoji from the given personality type 
def emoji_total_count_2(personality_type):
    return merged_df[merged_df['mbti_personality'] == personality_type]['num_of_emoji'].sum()

In [70]:
# Method that returns the top 10 emoji from the given personality type 
#and the count of how many times each emoji occurs.
def top_10_emoji_count_2(personality_type):
    return pd.Series(create_emoji_lst_2(personality_type)).value_counts().take(np.arange(10))

In [71]:
# find the top 10 most commonly used emoji for each personality type
for p in personality_type_lst:
    print(p)
    print(top_10_emoji_count_2(p))

intj
üòÇ     110
‚ù§Ô∏è     60
üò≠      56
ü§£      35
‚ú®      28
üòç      26
ü•∫      24
üíï      24
üéâ      24
üòä      23
dtype: int64
intp
üòÇ     95
üò≠     66
üòç     32
‚ù§Ô∏è    29
ü•∫     25
‚ú®     24
ü§£     23
ü§î     17
ü•∞     16
üíï     16
dtype: int64
entj
üòÇ     93
üò≠     63
‚ù§Ô∏è    47
ü§£     37
üòç     36
‚ô•Ô∏è    22
ü•∫     21
üëÄ     20
ü•∞     17
üî•     17
dtype: int64
entp
üòÇ     75
üò≠     43
‚ù§Ô∏è    26
ü§£     25
ü•∫     19
üòç     19
‚ú®     15
üéâ     14
üî•     12
üòä     12
dtype: int64
infj
üòÇ     122
‚ù§Ô∏è     82
üò≠      50
ü•∞      44
üòä      42
üòç      42
ü§£      42
üíï      37
ü•∫      37
‚ú®      35
dtype: int64
infp
üòÇ     122
üò≠      78
‚ù§Ô∏è     65
‚ú®      53
üòç      50
üíï      47
ü•∫      46
ü•∞      38
üëÄ      35
üòä      34
dtype: int64
enfj
üòÇ     101
üò≠      55
‚ù§Ô∏è     49
üòç      40
‚ú®      37
ü§£      35
ü•∫      30
üòä      23
ü•∞      22
üíï      21
dtype: int64
enfp
üòÇ     150
‚ù§Ô∏è     67
üò≠      67
üòç      51
‚ú®      50
ü§£      41
ü•∫      38
üíï      32
ü•∞      30
üòä      27
dtype: int64
istj
üòÇ     60
üò≠     39
‚ù§Ô∏è    23
ü§£     18
üòç     13
‚ú®     11
üò¢     10
üíï     10
üòÜ      9
üíî      9
dtype: int64
isfj
üòÇ     62
üò≠     47
‚ù§Ô∏è    43
üòç     30
‚ú®     21
ü§£     20
üíú     19
üíõ     18
üíï     16
üòä     15
dtype: int64
estj
üòÇ     42
üò≠     24
‚ù§Ô∏è    18
üòç     18
ü§£     14
ü•∫      8
üíô      7
üíú      7
üôÑ      7
üòÖ      7
dtype: int64
esfj
üòÇ     44
‚ù§Ô∏è    33
üò≠     30
üòç     17
‚ú®     15
ü•∫     13
ü§£     12
üíî     12
üíô     11
üíï     10
dtype: int64
istp
üò≠     28
üòÇ     27
‚ù§Ô∏è    16
üíï     11
üíî     11
üòç     11
ü§£     10
ü§î      9
üôÑ      7
üôÉ      6
dtype: int64
isfp
üòÇ     46
üò≠     42
‚ú®     21
‚ù§Ô∏è    16
üíî     13
üíï     13
üòç     10
ü§£     10
üíô     10
üî•      9
dtype: int64
estp
üòÇ     20
üò≠     19
üíî      9
‚ù§Ô∏è     9
ü•∫      8
ü§£      7
üíï      4
‚ô•Ô∏è     4
üòç      4
üò¢      4
dtype: int64
esfp
üòÇ     50
üò≠     27
‚ù§Ô∏è    21
üòç     12
ü§£     11
üíî      9
üôè      8
üëÄ      8
ü•∫      7
‚ú®      7
dtype: int64

In [72]:
# personality types and its total emoji count
personality_df_2 = pd.DataFrame()
personality_df_2['personality_type'] = pd.Series(personality_type_lst)
personality_df_2['emoji_count'] = personality_df_2['personality_type'].apply(emoji_total_count_2)
personality_df_2

   personality_type  emoji_count
0              intj         2373
1              intp         1867
2              entj         2143
3              entp         1624
4              infj         3024
5              infp         3118
6              enfj         2487
7              enfp         2995
8              istj         1073
9              isfj         1576
10             estj          835
11             esfj         1051
12             istp          697
13             isfp         1180
14             estp          550
15             esfp         1054

In [73]:
# personality types and its Twitter users count
count_df_2 = merged_df.groupby('mbti_personality').count()[['num_of_emoji']].rename(columns = {'num_of_emoji':'id_count'})
count_df_2

                  id_count
mbti_personality
enfj                   723
enfp                   900
entj                   677
entp                   586
esfj                   236
esfp                   202
estj                   221
estp                   147
infj                   917
infp                   899
intj                   905
intp                   712
isfj                   419
isfp                   232
istj                   342
istp                   209

In [74]:
# merge the two previous dataframe and compute emoji per person
personality_df_2 = personality_df_2.merge(count_df_2, left_on = 'personality_type', right_index = True)
personality_df_2['emoji per person'] = personality_df_2['emoji_count']/personality_df_2['id_count']
personality_df_2

   personality_type  emoji_count  id_count  emoji per person
0              intj         2373       905          2.622099
1              intp         1867       712          2.622191
2              entj         2143       677          3.165436
3              entp         1624       586          2.771331
4              infj         3024       917          3.297710
5              infp         3118       899          3.468298
6              enfj         2487       723          3.439834
7              enfp         2995       900          3.327778
8              istj         1073       342          3.137427
9              isfj         1576       419          3.761337
10             estj          835       221          3.778281
11             esfj         1051       236          4.453390
12             istp          697       209          3.334928
13             isfp         1180       232          5.086207
14             estp          550       147          3.741497
15             esfp         1054       202          5.217822